* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #3a2278, #261646, #150d29);
    background-size: cover;
    min-height: 100vh;
    color: #fff;}

.navbar {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;         
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    background: transparent;}

.logo-area {
    display: flex;
    align-items: center;}

.logo {
    width: 150px;
    height: auto;}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);}

.card h2 {
    font-size: 30px;
    margin-bottom: 5px;}

.card .sub {
    font-size: 14px;
    margin-bottom: 20px;}

.field {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 20px;}

.input-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: #ffffffaa;}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 28px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff88;
    color: #fff;
    font-size: 14px;
    outline: none;}

.input-field::placeholder {
    color: #ffffff88;}

.btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #6b8cff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;}

.btn:hover {
    background: #7a9dff;}
